@inject IJSRuntime js

@* <link rel="stylesheet" href="/css/footer.css"> *@
<footer id="footer">
    <h1><a href="/">METIS 실업팀</a></h1>
    @* <a href="javascript:void(0);" class="topBtn">TOP</a> *@

    <div class="f_info">
        <ul>
            <li>충남 천안시 동남구 풍세면 풍세산단로 84 <b>메티스</b></li>
            @* <li>대표이사 박종태</li> *@
            @* <li>사업자등록번호 306-81-12757</li> *@
        </ul>
        <ul>
            <li>TEL 041-622-8081</li>
            <li>FAX 041-622-8087</li>
        </ul>
        <ul>
            <li>본 사이트 이용약관 및 개인정보처리방침이 없습니다. 개인정보를 관리하지 아니하며, 모든 이미지, 사진 및 텍스트의 저작권은 (주)메티스에 있습니다.</li>
        </ul>
    </div>

    @* <div class="f_menu">
        <ul>
            <li><a href="/ETC/TM/ETCTMLN01.do">법적고지</a></li>
            <li><a href="/ETC/TM/ETCTMPP01.do"><em class="orange2 fw-700">개인정보 처리방침</em></a></li>
            <li><a href="/ETC/TM/ETCTMTS01.do">이용약관</a></li>
            <li><a href="/ETC/CU/ETCCUCUI01.do">고객문의</a></li>
            <!-- <li ><a style="cursor: pointer" onclick="QnaListView()">1:1문의</a></li> -->
            <li><a href="/ETC/TM/ETCTMSI01.do">사이트맵</a></li>
            <li><a href="/ETC/PARTNER.do">광고문의</a></li>
        </ul>
    </div> *@

    <p class="copyright">© 2025 <span>METIS 실업팀</span>. All rights Reserved.</p>

    @* <div class="f_link">
        <a href="javascript:void(0);">계열사 바로가기<i></i></a>
        <div class="link_detail">
            <div class="link_detail_obj">
                <strong>우주항공·방산·기계</strong>
                <ul>
                    <li><a target="_blank" title="새창" href="https://www.hanwhacorp.co.kr/">㈜한화</a></li>
                    <li><a target="_blank" title="새창" href="https://www.hanwhaaerospace.com/">한화에어로스페이스</a></li>
                    <li><a target="_blank" title="새창" href="https://www.hanwhasystems.com/">한화시스템</a></li>
                    <li><a target="_blank" title="새창" href="https://www.hanwhavision.com/ko/">한화비전</a></li>
                    <li><a target="_blank" title="새창" href="https://www.hanwhasemitech.com/ko/">한화세미텍</a></li>
                    <li><a target="_blank" title="새창" href="https://www.hanwhamomentum.com/">한화모멘텀</a></li>
                    <li><a target="_blank" title="새창" href="https://hanwharobotics.co.kr/">한화로보틱스</a></li>
                </ul>
            </div>
            <div class="link_detail_obj">
                <strong>에너지·오션</strong>
                <ul>
                    <li><a target="_blank" title="새창" href="https://www.hanwhasolutions.com/">한화솔루션</a></li>
                    <li><a target="_blank" title="새창" href="https://www.hanwhaocean.com/">한화오션</a></li>
                    <li><a target="_blank" title="새창" href="https://hec.hanwha.co.kr/main.do">한화에너지</a></li>
                    <li><a target="_blank" title="새창" href="https://www.hanwhaimpact.com/kr/index">한화임팩트</a></li>
                    <li><a target="_blank" title="새창" href="https://www.hanwhapowersystems.co.kr/">한화파워시스템</a></li>
                    <li><a target="_blank" title="새창" href="https://www.htpchem.com/">한화토탈에너지스</a></li>
                    <li><a target="_blank" title="새창" href="https://www.hanwha-engine.com/">한화엔진</a></li>
                    <li><a target="_blank" title="새창" href="https://www.hwam.co.kr/">한화첨단소재</a></li>
                    <li><a target="_blank" title="새창" href="https://www.yncc.co.kr/ko/index.do">여천NCC</a></li>
                </ul>
            </div>
            <div class="link_detail_obj">
                <strong>금융</strong>
                <ul>
                    <li><a target="_blank" title="새창" href="https://www.hanwhalife.com/index.jsp">한화생명</a></li>
                    <li><a target="_blank" title="새창" href="https://www.hwgeneralins.com/">한화손해보험 </a></li>
                    <li><a target="_blank" title="새창" href="https://www.hanwhafund.co.kr/webapp/hw_kor/hw_sys/hw_main.jsp">한화자산운용</a></li>
                    <li><a target="_blank" title="새창" href="https://www.hanwhawm.com/main/main/index.cmd">한화투자증권</a></li>
                    <li><a target="_blank" title="새창" href="https://www.hanwhasbank.com/main.act">한화저축은행</a></li>
                    <li><a target="_blank" title="새창" href="https://www.hanwhalifefs.com/">한화생명금융서비스</a></li>
                    <li><a target="_blank" title="새창" href="https://www.carrotins.com/">캐롯손해보험 </a></li>
                </ul>
            </div>
            <div class="link_detail_obj">
                <strong>유통·서비스</strong>
                <ul>
                    <li><a target="_blank" title="새창" href="http://www.hwrc.co.kr">한화호텔&amp;리조트</a></li>
                    <li><a target="_blank" title="새창" href="http://www.hanwhagalleria.co.kr">한화갤러리아</a></li>
                    <li><a target="_blank" title="새창" href="https://www.hanwhaconnect.co.kr/">한화커넥트</a></li>
                </ul>
            </div>
        </div>
    </div> *@
</footer>



@code {
    // protected override async Task OnInitializedAsync()
    // {
    //     //Console.WriteLine();
    // }
        
}

