@page "/"

<div class="video_wrap key_pc_only">
    <video class="visual_video" playsinline="" loop="" muted="" autoplay="">
        <source src="./image/movie_metis.mp4" type="video/mp4">
    </video>
</div>
