@page "/staff"

<article id="container" class="eagles">
	<div class="title_area" style="height: 782px;">
		<h3>PLAYER</h3>
	</div>

	<section class="content_block">
		<div>
			<div class="tab_menu">
				<ul>
					<li class="active" id="PCPLCS"><a href="staff"><span></span>코칭스탭</a></li>
					<li class="" id="PCPLPC"><a href="player"><span></span>선수</a></li>
				</ul>
			</div>
		</div>
		<div class="content_detail">
			<div class="player_view">
				<div class="info_detail">
					<p class="thumb">
						<img src="/image/감독_임학수.png" alt="감독_임학수.png">
						<img src="" alt="">
					</p>
					<p class="info">
						<span>15</span>
						<strong>임학수</strong>
						<em>KIM JAEMIN</em>
					</p>
					<div class="info_box">
						<p class="position">
							<b>감독</b>
							<span>우투우타</span>
						</p>
						<ul>
							<li>
								<strong>생년월일</strong>
								<span>1977.04.03</span>
							</li>
							<li>
								<strong>체격</strong>
								<span>173cm, 75kg</span>
							</li>
							<li>
								<strong>출신학교</strong>
								<span>공주고등학교</span>
							</li>
							<li>
								<strong>주요경력</strong>
								<p>
									"1996. 02 공주고등학교 졸업"<br>
									"1996. 03 ~ 2003. 02 삼성라이온즈 등록"
								</p>
							</li>
						</ul>
					</div><!-- //.info_box -->
				</div><!-- //.info_detail -->
				@* <p class="btn_area page_bottom">
					<a href="/PL/CS/PLCS01.do"><span></span>목록</a>
				</p> *@
			
			</div><!-- //.player_view -->
		</div><!-- //.content_detail -->
	</section>
</article>
@code {

}
