@page "/uniform"

<div class="title_area" style="height: 782px;">
	<h3></h3>
</div>
<section id="eaglesCon" class="content_block eagles_intro">
	<div>
		<div class="tab_menu">
			<ul>
				<li class="" id="PCMNHI"><a href="history"><span></span>HISTORY</a></li>
				<li class="" id="PCMNEP"><a href="trophy"><span></span>사료실</a></li>
				<li class="active" id="PCMNCS"><a href="uniform"><span></span>엠블럼/유니폼</a></li>
			</ul>
		</div>
	</div>

	<div class="eagles_content">
		<div>

			@* <div class="left_tab">
				<a href="javascript:void(0);" class="openBtn">CI</a>
				<ul>
					<li class="" id="MNCLCI_LEFT"><a href="/MN/CL/MNCLCI01.do#eaglesCon">구단소개</a></li>
					<li class="active" id="MNCLSY_LEFT"><a href="/MN/CL/MNCLSY01.do#eaglesCon">CI</a></li>
					<li class="" id="MNCLMC_LEFT"><a href="/MN/CL/MNCLMC01.do#eaglesCon">MASCOT</a></li>
				</ul>
			</div> *@

		</div>

		<div class="right_conts">
			<div class="ci_wrap">
				<strong class="tit mt0">구단 로고</strong>
				<div class="image">
					<img src="/image/logo.png" alt="">
				</div>
				<h5>WORDMARK</h5>
				<h6>유니폼 (HOME)</h6>
				<ul class="ci_list wordmark_home">
					<li>
						<span><img src="/image/uniform_home.png" alt=""></span>
					</li>
				</ul>
				<h6>유니폼 (AWAY)</h6>
				<ul class="ci_list wordmark_away">
					<li>
						<span><img src="/image/uniform_away.png" alt=""></span>
					</li>
				</ul>

				@* <h5>INITIAL SYMBOL</h5>
				<ul class="ci_list initial_symbol">
					<li>
						<span><img src="/images/pages/eagles/ci_initial_orange.png" alt=""></span>
					</li>
					<li>
						<span><img src="/images/pages/eagles/ci_initial_white.png" alt=""></span>
					</li>
					<li>
						<span><img src="/images/pages/eagles/ci_initial_orange.png" alt=""></span>
					</li>
				</ul>

				<h5>COMPOSITE LOGO</h5>
				<h6>Main Emblem</h6>
				<ul class="ci_list logo_main">
					<li>
						<span><img src="/images/pages/eagles/ci_logo_main.png" alt=""></span>
					</li>
					<li>
						<span><img src="/images/pages/eagles/ci_logo_main_border.png" alt=""></span>
					</li>
					<li>
						<span><img src="/images/pages/eagles/ci_logo_main.png" alt=""></span>
					</li>
				</ul>
				<h6>Sub Emblem</h6>
				<ul class="ci_list logo_sub">
					<li>
						<span><img src="/images/pages/eagles/ci_logo_sub.png" alt=""></span>
					</li>
					<li>
						<span><img src="/images/pages/eagles/ci_logo_sub.png" alt=""></span>
					</li>
					<li>
						<span><img src="/images/pages/eagles/ci_logo_sub_border.png" alt=""></span>
					</li>
				</ul>

				<h5>IMAGE SYMBOL</h5>
				<ul class="ci_list image_symbol">
					<li>
						<span><img src="/images/pages/eagles/ci_image_orange.png" alt=""></span>
					</li>
					<li>
						<span><img src="/images/pages/eagles/ci_image_white.png" alt=""></span>
					</li>
					<li>
						<span><img src="/images/pages/eagles/ci_image_white.png" alt=""></span>
					</li>
				</ul> *@


				@* <div class="paginate center btn_area">
					<a href="/files/CI_ai.zip" class="btn_com ico_down"><span></span>AI 다운로드</a>
				</div> *@
			</div>
		</div>

	</div>
</section>
@code {

}
